    body {
      font-family: Montserrat, Arial ;
      background-color: rgb(83, 83, 83);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    button {
      font-family: inherit;
      font-weight: 400;
      width: 100px;
      height: 50px;
      border: none;
      border-radius: 10px;
      font-size: 20px;
      background: gold;
      margin: 10px 0px;
    }
    button:hover {
      border: solid black 2px;
    }
    button:active {
      background-color: rgb(180, 154, 3);
    }

    p {
      margin: 0px;
    }

    .disclaimer {
      font-weight: 500;
    }

    .restart-button {
      width: 75px;
      height: 37.5px;
      font-size: 16px;
    }

    div {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
    }